
nav {
    background-color: rgba(0, 111, 119, 0.656);
    position: fixed;
    height: 100vh;
    width: 6.25rem;
    padding: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    

    
}
.item{
  text-align: center;
}
.nav-list {
    list-style-type: none;
    height: 100vh;
  }
  nav a{
    text-decoration: none;
    position: relative;
    color: black;
  }

  
nav  a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #d3f1fc;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    
  }
  
 nav a:hover::before {
    
    transform-origin: left;
    transform: scaleX(1);
  }
  nav a:hover{
    color: #d3f1fc;
  }
.item{
    font-size: xx-large;
    font-weight: bolder;
    font-family: "Salsa", cursive;
    margin: 10rem 0;
    padding: 10px 0;
    transform: rotate(-90deg);
    
}
